colorama>=0.4.6
faiss-cpu>=1.10.0
langchain>=0.3.17
langchain-community>=0.3.16
langchain-huggingface>=0.1.2
langchain-ollama>=0.2.3
llama-cpp-python>=0.3.7
pypdf2>=3.0.1
sentence-transformers>=3.4.1
tiktoken>=0.8.0
tqdm>=4.67.1
